.Nav ul{
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    background-color:white;
    color:black;
    padding:10px;
}   
.header img {
    display:flex;
}
.main{
    display: grid;
}
.footer{
    display: flex;
}